

.navbar {
    background-color: rgb(1, 1, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding-left: 5px;
    padding-right: 5px;
}

.logo {
    color: red;
    font-size: 1.5rem;
    font-weight: 900;
}
.navbar1 {
    display: flex;
    flex: 1;
    gap: 5px;
    align-items: center;
    gap: 10%;
}

.recherche-navbar {
    flex: 1;
    width: 100%;
    display: flex;

}

.navbar2 {
    display: flex;
    flex: 1;
    gap: 5px;
    justify-content: flex-end;
    gap: 10%;
}


.navbar_catalogue {
    text-decoration: none;
    color: aliceblue;
}