
.recherche {
    display: flex;
    width: 100%;
}

.recherche2 {
    display: flex;
    width: 100%;
}

.recherche input{
    background-color: rgb(161, 161, 161);
    height: 5vh;
    border: none;
    border-radius: 5px 0 0 5px;
    flex: 0.8;
}

.recherche button {
    background-color: rgb(161, 161, 161);
    border: none;
    border-radius: 0 5px 5px 0;
}