


.product_admin_site {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    top: 10vh;
    left: 23%;
    width: 73%;
    height: 90vh;
    color: black;
    position: absolute;
}

.btn_admin {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 2rem;
    border-bottom: 2px solid rgb(131, 130, 130);
}

.btn_admin button {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 900;
    
}

.cate_container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* -------------------------------------------- */

.tableau {
    width: 100%;
}

.tableau th:nth-child(1) {
    width: 50%;
}

.tableau th:nth-child(2) {
    width: 15%;
}

.tableau th:nth-child(3) {
    width: 15%;
}

.tableau th:nth-child(4) {
    width: 10%;
}

.tableau th:nth-child(5) {
    width: 10%;
}


.ligne1 {
    display: flex;
}


.admin_container2 td {
    max-height: 15vh;
}

.admin_image {
    width: 15%;
}


.trash {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trash button {
    background: none;
    border: none;
}

.trash button:hover {
    color: rgb(134, 134, 134);
}

td, th {
    border: 1px solid rgb(127, 126, 126);
}

/* -------------------------------- */

table {
    background-color: rgb(12, 12, 12);
    width: 100%;
    color: aliceblue;
    border-collapse: collapse;
    margin-top: 1rem;
}

tbody {
    background-color: rgb(39, 38, 38);
}


thead th, tbody td , tfoot td {
    text-align: center; 
    vertical-align: middle;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.user_h2 {
    color: aliceblue;
    margin-left: 1rem;
}

/* -------------------------------------- */

.pagination {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.pagination h2 {
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.pagination button {
    background: none;
    color: aliceblue;
    border: none;
}